{% extends 'ayuda/base.html' %}
{% block title %}Eliminar responsable{% endblock %}
{% block content %}
<h4>Listado de responsables</h4>
<p>Al ingresar al módulo de responsables, se presenta un listado con los responsables del sistema, y filtros por campo para facilitar la búsqueda de los responsables.</p>
    <p>Desde esta pantalla se puede acceder a la pantalla de creación de nuevo responsable, haciendo clic en el botón de nuevo responsable, así como ir a las pantallas de edición o eliminación de un responsable determinado mediante los botones correspondientes presentes en el listado.</p>
{% endblock %}