{% extends 'ayuda/base.html' %}
{% block title %}Listado de material{% endblock %}
{% block content %}
<h4>Listado de material</h4>
<p> Al ingresar al módulo de materiales, se presenta un listado con las materiales del sistema, y filtros por campo para facilitar la búsqueda de las materiales, </p>
<p> Desde esta pantalla se puede acceder a la pantalla de creación de nuevo material, haciendo clic en el botón de nuevo material, así como ir a las pantallas de edición o eliminación de una material determinado mediante los botones correspondientes presentes en el listado. Además, es posible acceder al material para verlo de manera online, o bien un botón para iniciar la descarga del material. </p>
{% endblock %}