{% extends 'aula_virtual/base.html' %}
{% block title %}Material{% endblock %}
{% block content %}
    <h3>Material</h3>
    <form method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}
        <div class="formfields">
            <div class="formfield">
                {{ form.descripcion.label_tag }}
                {{ form.descripcion }}
                {{ form.descripcion.errors }}
            </div>
            <div class="formfield">
                {{ form.observaciones.label_tag }}
                {{ form.observaciones }}
                {{ form.observaciones.errors }}
            </div>
            <div class="formfield">
                {{ form.materia.label_tag }}
                {{ form.materia }}
                {{ form.materia.errors }}
            </div>
            <div class="formfield">
                {{ form.archivo.label_tag }}
                {{ form.archivo }}
                {{ form.archivo.errors }}
            </div>
        </div>
        <input class="button" type="submit" value="Confirmar"/>
        <a href="{% url 'materiales' %}"><input class="button neutral" type="button" value="Volver"></a>
    </form>
{% endblock %}
