{% extends 'ayuda/base.html' %}
{% block title %}Listado de solicitud de material{% endblock %}
{% block content %}
<h4>Listado de solicitud de material</h4>
<p> Al ingresar al módulo de solicitud de materiales, se presenta un listado con las solicitudes de materiales del sistema, que todavía no han sido respondidas y filtros por campo para facilitar la búsqueda de las solicitudes de material. </p>
<p> Desde esta pantalla se puede acceder a la pantalla para ver todas las solicitudes históricas, haciendo clic en el botón de ver todas las solicitudes de material, así como ir a las pantallas de respuesta de una solicitud de material determinado mediante los botones correspondientes presentes en el listado.</p>
{% endblock %}