{% extends 'aula_virtual/base.html' %}
{% block title %}Solicitud Material{% endblock %}
{% block content %}
    <div class="col-md-offset-2 col-md-8">
        <h3 class="inline-title">Solicitud de Material</h3> <span class=""><a href="{% url 'aula_virtual:ayuda_nuevo_solicitud_material' %}" onclick="window.open('{% url 'aula_virtual:ayuda_nuevo_solicitud_material' %}', 'newwindow', 'width=600, height=400'); return false;"><i class="fa fa-question-circle"></i></a></span>

        <form method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.descripcion.label_tag }}
            {{ form.descripcion }}
            {{ form.descripcion.errors }}
        </div>
        <div class="form-group">
            {{ form.observaciones.label_tag }}
            {{ form.observaciones }}
            {{ form.observaciones.errors }}
        </div>

        <button type="submit" class="btn btn-success">
            <i class="fa fa-check-circle"></i> Confirmar
        </button>
        <a class="btn btn-default" href="{% url 'aula_virtual:ver_solicitudes' %}">
            <i class="fa fa-arrow-circle-left"></i>  Volver
        </a>
    </form>
    </div>

{% endblock %}
