{% extends 'aula_virtual/base.html' %}
{% block title %}Solicitudes de Materiales{% endblock %}
{% block content %}
    <h3>Mis Solicitudes de Materiales</h3>
    {% if filter_form %}
        <form action="." method="get" class="margin-bottom-2x">
            <div class="form-group">
                        {{ filter_form.descripcion.label_tag }}
                        {{ filter_form.descripcion }}
            </div>
            <button type="submit" class="btn btn-default">
                <i class="fa fa-filter"></i> Filtrar
            </button>
        </form>
    {% endif %}

    {% if object_list %}
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Descripción</th>
                    <th>Aceptada</th>
                    <th>Material</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for solicitud_material in object_list %}
                    <tr>
                        <td>{{ solicitud_material.id }}</td>
                        <td>{{ solicitud_material.descripcion }}</td>
                        <td>{{ solicitud_material.aceptada }}</td>
                        <td>{{ solicitud_material.material }}</td>
                        <td>
                            <a class="btn btn-default" href="{% url 'aula_virtual:editar_solicitud_material' solicitud_material.id %}">
                                <i class="fa fa-edit"></i> Editar
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-danger" href="{% url 'aula_virtual:eliminar_solicitud_material' solicitud_material.id %}">
                                <i class="fa fa-trash"></i> Eliminar
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay solicitudes de material disponibles.</p>
    {% endif %}
{% endblock %}
