{% extends 'ayuda/base.html' %}
{% block title %}Editar clase virtual{% endblock %}
{% block content %}
<h4>Edicion de clase virtual</h4>
<p>Se tienen las mismas consideraciones en los campos, que lo expresado para el formulario de creación.
Una vez completado los valores del formulario debe hacer clic en el botón confirmar para que los cambios a los datos de la clase virtual sean efectivos en el sistema. Luego de confirmar la clase virtual accede a la pantalla de creación y edición de ejercicios.</p>
{% endblock %}