{% extends 'clase_virtual/base.html' %}
{% block title %}Clases virtuales{% endblock %}
{% block content %}
    <script>
    </script>

    <h3>Clase Virtual</h3>
    <p>
        Nombre: {{ clase_virtual.nombre }}
    </p>
    <p>
        Materia: {{ clase_virtual.materia }}
    </p>
    <p>
        Descripcion: {{ clase_virtual.descripcion }}
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Alumno</th>
                <th>Nota actual</th>
            </tr>
        </thead>
        <tbody>
            {% for alumno in alumnos %}
                <tr>
                    <td>
                        {{ alumno }}
                    </td>
                    <td>
                        {{ alumno.nota_actual|default_if_none:"No cargado" }}
                    </td>
                    <td>
                        <a class="btn btn-default btn-sm" href="{% url 'aula_virtual:corregir_resultados_clase_virtual' clase_virtual.id  alumno.id %}">
                             <i class="fa fa-edit"></i> Corregir
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-default" href="{% url 'aula_virtual:clases_virtuales' %}">
        <i class="fa fa-arrow-circle-left"></i>  Volver
    </a>
{% endblock %}
