{% extends 'clase_virtual/base.html' %}
{% block title %}Clases virtuales{% endblock %}
{% block content %}
    <script>
    </script>

    <h3 class="inline-title">Clase Virtual</h3>
        <p>
            Nombre: {{ clase_virtual.nombre }}
        </p>
        <p>
            Materia: {{ clase_virtual.materia }}
        </p>
        <p>
            Descripcion: {{ clase_virtual.descripcion }}
        </p>
        <p>
            Puntaje: {{ clase_virtual.puntaje_alumno }}
        </p>
    <ul class="list-group ">
    {% for respuesta in respuestas %}
        <div class="col-sm-6">
                <li class="list-group-item borderless">
            <div class="row list-group-item-header">
              <div class="col-xs-12">
                     <h4 class="list-group-item-heading text-default">{{ respuesta.ejercicio }}
                      <small class="pull-right">
                        {% if respuesta.puntaje_obtenido == None %}
                            <h4 class="list-group-item-heading text-default text-right">No corregida </h4>
                        {% elif respuesta.puntaje_obtenido == respuesta.ejercicio.puntaje  %}
                            <h4 class="list-group-item-heading text-success text-right">
                                {{ respuesta.puntaje_obtenido }}/{{ respuesta.ejercicio.puntaje }} <i class="fa fa-check-circle"></i>
                            </h4>
                        {% elif respuesta.puntaje_obtenido > 0  %}
                            <h4 class="list-group-item-heading text-right">
                                {{ respuesta.puntaje_obtenido }}/{{ respuesta.ejercicio.puntaje }}
                            </h4>
                        {% elif respuesta.puntaje_obtenido == 0 %}
                            <h4 class="list-group-item-heading text-danger text-right">
                                {{ respuesta.puntaje_obtenido }}/{{ respuesta.ejercicio.puntaje }} <i class="fa fa-times-circle"></i>
                            </h4>
                        {% else %}
                            <h4 class="list-group-item-heading text-default text-right">No corregida</h4>
                        {% endif %}
                    </small></h4>
              </div>
          </div>

        {%  if respuesta.ejercicio.tipo_ejercicio == 'mch'  %}
        <div class="row">
            <div class="col-sm-12">
                 <ul class="list-group">
                     <li class="list-group-item borderless list-group-item-divider">
                         <h6 class="list-group-item-heading "><strong>Opciones disponibles</strong></h6>
                     </li>

                     {% for opcion in respuesta.ejercicio.opciones.all  %}
                        {% if opcion.opcion_correcta and respuesta.opcion_seleccionada == opcion %}
                            <li class="list-group-item borderless list-group-item-success">
                                <span class="pull-right label label-success">Selecciono la respuesta correcta!</span>
                                {{ opcion.texto }}
                            </li>
                        {% elif opcion.opcion_correcta == True %}
                            <li class="list-group-item borderless list-group-item-success">
                                <span class="pull-right label label-success">Esta era la respuesta correcta</span>
                                {{ opcion.texto }}
                            </li>
                        {% elif respuesta.opcion_seleccionada == opcion %}
                            <li class="list-group-item borderless list-group-item-danger">
                                <span class="pull-right label label-danger">Esta respuesta es incorrecta.</span>
                                {{ opcion.texto }}
                            </li>
                        {% else %}
                            <li class="list-group-item borderless">
                                {{ opcion.texto }}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
          </div>
        {% elif respuesta.ejercicio.tipo_ejercicio == 'txt'  %}
            <div class="row">
                <div class="col-sm-12">
                    <ul class="list-group">
                        <li class="list-group-item-divider list-group-item">
                          <h6 class="list-group-item-heading"><strong>Mi respuesta</strong></h6>
                        </li>
                        <li class="list-group-item borderless">

                          <p class="list-group-item-text">
                              {{ respuesta.texto }}
                          </p>
                        </li>
                      </ul>
                </div>
            </div>
        {% endif %}
        {% if respuesta.observaciones != None  %}
            <div class="row">
                <div class="col-sm-12">
                    <ul class="list-group">
                        <li class="list-group-item-divider list-group-item">
                          <h6 class="list-group-item-heading"><strong>Observaciones</strong></h6>
                        </li>
                        <li class="list-group-item borderless">

                          <p class="list-group-item-text">
                              {{ respuesta.observaciones|default_if_none:"" }}
                          </p>
                        </li>
                      </ul>
                </div>
            </div>
        {% endif %}
        </li>
        </div>
        {% if forloop.counter|divisibleby:2 %}
            <div class="clearfix"></div>
        {% endif %}
    {% endfor %}
    </ul>
    <div class="clearfix"></div>
    <a class="btn btn-default" href="{% url 'aula_virtual:clases_virtuales' %}">
        <i class="fa fa-arrow-circle-left"></i>  Volver
    </a>
{% endblock %}
