{% extends 'ayuda/base.html' %}
{% block title %}Listado de clase virtual{% endblock %}
{% block content %}
<h4>Listado de clase virtual</h4>
<p>Al ingresar al módulo de clases virtuales, se presenta un listado con las clases virtuales a las que usted tiene acceso. </p>
<p>Desde esta pantalla se puede acceder a las pantallas para resolver las clases virtuales mediante los botones correspondientes presentes en el listado. También se puede seleccionar el botón resultados para ver los resultados y correcciones de la clase virtual, como se ve en la siguiente pantalla.</p>
{% endblock %}