{% extends 'clase_virtual/base.html' %}
{% block title %}Clases virtuales{% endblock %}
{% block content %}
    <script>
    </script>

    <h3 class="inline-title">Clase Virtual</h3>
    <p>
        Nombre: {{ clase_virtual.nombre }}
    </p>
    <p>
        Materia: {{ clase_virtual.materia }}
    </p>
    <p>
        Descripcion: {{ clase_virtual.descripcion }}
    </p>
    {% if show_pendientes_correccion %}
        <h4>Pendientes de corrección</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Alumno</th>
                    <th>Nota</th>
                </tr>
            </thead>
            <tbody>
                {% for alumno in alumnos_no_corregida_list %}
                    <tr>
                        <td>
                            {{ alumno }}
                        </td>
                        <td>
                            {% if not alumno.resuelto %}
                                No cargado
                            {% elif not alumno.corregido %}
                                No corregido
                            {% else %}
                                {{ alumno.nota_actual|default_if_none:"No corregido" }}
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-default btn-sm" href="{% url 'aula_virtual:corregir_resultados_clase_virtual' clase_virtual.id  alumno.id %}">
                                 <i class="fa fa-edit"></i> Corregir
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if show_corregidos %}
        <h4>Corregidos</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Alumno</th>
                    <th>Nota</th>
                </tr>
            </thead>
            <tbody>
                {% for alumno in alumnos_corregida_list %}
                    <tr>
                        <td>
                            {{ alumno }}
                        </td>
                        <td>
                            {% if not alumno.resuelto %}
                                No cargado
                            {% elif not alumno.corregido %}
                                No corregido
                            {% else %}
                                {{ alumno.nota_actual|default_if_none:"No corregido" }}
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-default btn-sm" href="{% url 'aula_virtual:corregir_resultados_clase_virtual' clase_virtual.id  alumno.id %}">
                                 <i class="fa fa-edit"></i> Corregir
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if show_no_resueltos %}
        <h4>No resueltos</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Alumno</th>
                    <th>Nota</th>
                </tr>
            </thead>
            <tbody>
                {% for alumno in alumnos_no_resuelta_list %}
                    <tr>
                        <td>
                            {{ alumno }}
                        </td>
                        <td>
                            {% if not alumno.resuelto %}
                                No cargado
                            {% elif not alumno.corregido %}
                                No corregido
                            {% else %}
                                {{ alumno.nota_actual|default_if_none:"No corregido" }}
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-default btn-sm" href="{% url 'aula_virtual:corregir_resultados_clase_virtual' clase_virtual.id  alumno.id %}">
                                 <i class="fa fa-edit"></i> Corregir
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <a class="btn btn-default" href="{% url 'aula_virtual:clases_virtuales' %}">
        <i class="fa fa-arrow-circle-left"></i>  Volver
    </a>
{% endblock %}
