{% extends 'ayuda/base.html' %}
{% block title %}Crear clase virtual{% endblock %}
{% block content %}
<h4>Creacion de clase virtual</h4>
<p>El formulario debe ser llenado con los valores correspondientes, teniendo en cuenta las siguientes consideraciones:
-Debe elegir un tipo de clase virtual. Clase virtual es una clase virtual que no es registrada como una instancia evaluativa que impacte en el promedio y calificaciones de los alumnos. Evaluación es una clase virtual que es registrada como una instancia evaluativa que impacta en el promedio y calificaciones de los alumnos. Evaluación escrita es una evaluación normal de clase, para la que no habrá ejercicios virtuales, solo se ingresará la nota obtenida por el alumno para que impacte en el promedio y las calificaciones de los alumnos. Una vez completado los valores del formulario debe hacer clic en el botón confirmar para que la nueva clase virtual sea generada en el sistema.</p>
  <p>Luego de confirmar la clase virtual accede a la pantalla de creación y edición de ejercicios.</p>
{% endblock %}