{% extends 'administracion/base.html' %}
{% block title %}Comunicados{% endblock %}
{% block content %}
    <h3>Comunicados</h3>

    <div class="row">
        <div class="col-xs-2">
            <div class="row">
                <div class="col-xs-12">
                    <br/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <br/>
                </div>
            </div>
        <div class="btn-group-vertical" role="group">
             <a class="btn btn-primary" href="{% url 'administracion:nuevo_comunicado' %}">
                <i class="fa fa-plus-circle"></i> Nuevo
             </a>
             <a class="btn btn-default" href="{% url 'administracion:comunicados_recibidos' %}">
                <i class="fa fa-arrow-circle-right"></i> Recibidos
             </a>
             <a class="btn btn-default" href="{% url 'administracion:comunicados_enviados' %}">
                <i class="fa fa-arrow-circle-left"></i> Enviados
             </a>
        </div>
    </div>
        <div class="col-xs-10">
    {% if object_list %}
        <table class="table">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Emisor</th>
{#                    <th>Destinatarios</th>#}
                    <th style="width:50%;">Mensaje</th>
                    {% if activateViewingButtons %}
                        <th></th>
                    {% endif %}
                    {% if activateEditingButtons %}
                        <th></th>
                        <th></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for comunicado in object_list %}
                    <tr>
                        <td>{{ comunicado.fecha|date:"SHORT_DATE_FORMAT"}}</td>
                        <td>{{ comunicado.emisor }}</td>
{#                        <td>#}
{#                            {% for destinatario in comunicado.destinatarios.all %} {{ destinatario }}<br/>{% endfor %}#}
{#                        </td>#}
                        <td>{{ comunicado.mensaje }}</td>
                        {% if activateViewingButtons %}
                            <td>
                                <a class="btn btn-default" href="{% url 'administracion:ver_comunicado' comunicado.id %}">
                                    <i class="fa fa-eye"></i> Ver
                                </a>
                            </td>
                        {% endif %}
                        {% if activateEditingButtons %}
                            <td>
                                <a class="btn btn-default" href="{% url 'administracion:editar_comunicado' comunicado.id %}">
                                    <i class="fa fa-edit"></i> Editar
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-danger" href="{% url 'administracion:eliminar_comunicado' comunicado.id %}">
                                    <i class="fa fa-trash"></i> Eliminar
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay comunicados que coincidan con el criterio de filtrado</p>
    {% endif %}
    </div>
    </div>
{% endblock %}
