{% extends 'ayuda/base.html' %}
{% block title %}Listado de comunicados{% endblock %}
{% block content %}
<h4>Listado de comunicados</h4>
<p>Desde esta pantalla se puede acceder a las pantallas para visualizar los comunicados mediante los botones correspondientes presentes en el listado. Tambien se puede seleccionar el bóton enviados para ver los comunicados que se han enviado, como se ve en la siguiente pantalla.</p>
<p>Si desea crear un nuevo comunicado debe hacer clic sobre el botón nuevo, lo que dirige a la pantalla de creación de comunicados.</p>
{% endblock %}