{% extends 'utils/base.html' %}
{% block title %}Comunicado{% endblock %}
{% block content %}
    <h3 class="inline-title">Comunicado</h3> <span class=""><a href="{% url 'aula_virtual:ayuda_nuevo_comunicado' %}" onclick="window.open('{% url 'aula_virtual:ayuda_comunicados' %}', 'newwindow', 'width=600, height=400'); return false;"><i class="fa fa-question-circle"></i></a></span>
    <script>
        $(document).ready(function() {
            var formatRecord = function (item) {
                  var markup = "<div class='select2-result clearfix'>" +
                  "<div class='select2-result-text'>" + item.text + "</div>";
                  if (item.subtext) {
                    markup += "<div class='select2-result-subtext'>" + item.subtext + "</div>";
                  }
                  markup += "</div>";
                  return markup
            };
            var formatRecordSelection = function (item) {
                return item.text || item.subtext;
            };
            $('#id_destinatarios').select2({
                ajax: {
                    url: "{% url 'aula_virtual:destinatarios_posibles' %}",
                    dataType: "json",
                    delay: 250
                },
                debug: true,
                placeholder: "Seleccione un destinatario",
                escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
                minimumInputLength: 1,
                multiple: true,
                allowClear: true,
                templateResult: formatRecord,
                templateSelection: formatRecordSelection
            });
        });
    </script>
    <form method="post" action="">
        {% csrf_token %}
        <div class="form-group">
            {{ form.asunto.label_tag }}
            {{ form.asunto }}
            {{ form.asunto.errors }}
        </div>
        <div class="form-group">
            {{ form.destinatarios.label_tag }}
            {{ form.destinatarios }}
            {{ form.destinatarios.errors }}
        </div>
        <div class="form-group">
            {{ form.mensaje.label_tag }}
            {{ form.mensaje }}
            {{ form.mensaje.errors }}
        </div>
        <div class="form-group">
            {{ form.fecha.label_tag }}
            {{ form.fecha }}
            {{ form.fecha.errors }}
        </div>

        <button type="submit" class="btn btn-success">
            <i class="fa fa-check-circle"></i> Confirmar
        </button>
        <a class="btn btn-default" href="{% url 'aula_virtual:comunicados_recibidos' %}">
            <i class="fa fa-arrow-circle-left"></i>  Volver
        </a>
    </form>
{% endblock %}
