{% extends 'ayuda/base.html' %}
{% block title %}Crear comunicados{% endblock %}
{% block content %}
<h4>Creacion de comunicados</h4>
<p>El formulario debe ser llenado con los valores correspondientes, teniendo en cuenta las siguientes consideraciones: -Para ingresar los destinatarios debe comenzar a ingresar su nombre, donde inmediatamente se sugerirán las coincidencias y usted podrá seguir completando el nombre por teclado o seleccionarlo de la lista desplegada. Puede seleccionar más de un destinatario. Una vez completado los valores del formulario debe hacer clic en el botón confirmar para que el nuevo comunicado sea generado en el sistema.</p>
{% endblock %}