{% extends 'administracion/base.html' %}
{% block title %}Horarios de materias{% endblock %}
{% block content %}
    <h1>{{ day }}</h1>
    <form method="post" action="{% url 'administracion:ir_a_fecha' %}">
        {% csrf_token %}
        {{ fecha_form.fecha }}
        <button type="submit" class="btn btn-success"> Ir a Fecha</button>
    </form>

    <ul>
        {% for horario in object_list %}
            <li>{{ horario.instancia_cursado}}: {{ horario.hora_inicio }} : {{ horario.hora_fin }}</li>
        {% endfor %}
    </ul>

    <p>
        {% if previous_day %}
            Previous Day: {{ previous_day }}
        {% endif %}
        {% if previous_day and next_day %}--{% endif %}
        {% if next_day %}
            Next Day: {{ next_day }}
        {% endif %}
    </p>
{% endblock %}