{% extends 'ayuda/base.html' %}
{% block title %}Listado division{% endblock %}
{% block content %}
<h4>Listado de divisiones</h4>
<p>
Al ingresar al módulo de divisiones, se presenta un listado con las divisiones del presente año lectivo, y un botón para acceder a las configuraciones de las divisiones del año lectivo. Desde esta pantalla se puede acceder a la configuración de profesores para una división, a la configuración de inscripciones de alumno para una división, y a la configuración del calendario semanal u horarios para cada división.
</p>
{% endblock %}