{% extends 'ayuda/base.html' %}
{% block title %}Listado de ventos{% endblock %}
{% block content %}
<h4>Listado de eventos</h4>
<p>Al ingresar al módulo de eventos, se presenta un listado con los eventos del sistema</p>
<p>Desde esta pantalla se puede acceder a la pantalla de creación de nuevo evento, haciendo clic en el botón de "Nuevo" así como ir a las pantallas de edición o eliminación de un evento determinado mediante los botones correspondientes presentes en el listado.</p>
{% endblock %}
