{% extends 'administracion/base.html' %}
{% block title %}Evento{% endblock %}
{% block content %}
    <h3 class="inline-title">Evento</h3> <span class=""><a href="{% url 'administracion:eventos:ayuda_nuevo_evento' %}" onclick="window.open('{% url 'administracion:eventos:ayuda_nuevo_evento' %}', 'newwindow', 'width=600, height=400'); return false;"><i class="fa fa-question-circle"></i></a></span>

    <script>
        $(document).ready(function() {
            var formatRecord = function (item) {
                  var markup = "<div class='select2-result clearfix'>" +
                  "<div class='select2-result-text'>" + item.text + "</div>";
                  if (item.subtext) {
                    markup += "<div class='select2-result-subtext'>" + item.subtext + "</div>";
                  }
                  markup += "</div>";
                  return markup
            };
            var formatRecordSelection = function (item) {
                return item.text || item.subtext;
            };
            $('#id_participantes').select2({
                ajax: {
                    url: "{% url 'administracion:usuarios:grupos_usuarios' %}",
                    dataType: "json",
                    delay: 250
                },
                debug: true,
                placeholder: "Seleccione un participante",
                escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
                minimumInputLength: 1,
                multiple: true,
                allowClear: true,
                templateResult: formatRecord,
                templateSelection: formatRecordSelection
            });
        });
    </script>

    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.nombre.label_tag }}
            {{ form.nombre }}
            {{ form.nombre.errors }}
        </div>
        <div class="form-group">
            {{ form.descripcion.label_tag }}
            {{ form.descripcion }}
            {{ form.descripcion.errors }}
        </div>
        <div class="form-group">
            {{ form.fecha_inicio.label_tag }}
            {{ form.fecha_inicio }}
            {{ form.fecha_inicio.errors }}
        </div>
        <div class="form-group">
            {{ form.fecha_fin.label_tag }}
            {{ form.fecha_fin }}
            {{ form.fecha_fin.errors }}
        </div>
        <div class="form-group">
            {{ form.participantes.label_tag }}
            {{ form.participantes }}
            {{ form.participantes.errors }}
        </div>
        <button type="submit" class="btn btn-success">
            <i class="fa fa-check-circle"></i> Confirmar
        </button>
        <a class="btn btn-default" href="{% url 'administracion:eventos:eventos' %}">
            <i class="fa fa-arrow-circle-left"></i>  Volver
        </a>
    </form>
{% endblock %}
