{% extends 'ayuda/base.html' %}
{% block title %}Crear eventos{% endblock %}
{% block content %}
<h4>Creacion de eventos</h4>
<p>
Al seleccionar la opción de crear eventos, se presentará el siguiente formulario:
    - Nombre: nombre del evento
    - Descripción: descripción del evento. Incluya los detalles sobre el evento que considere necesarios
    - Fecha inicio: Fecha de inicio del evento
    - Fecha fin: Fecha de fin del evento
    - Participantes: Lista de participantes del evento
</p>
{% endblock %}
