{% extends 'administracion/base.html' %}
{% block title %}Estadias{% endblock %}
{% block content %}
    <div class="col-md-offset-1 col-md-10">
    <h3 class="inline-title">Estadias</h3> <span class=""><a href="{% url 'administracion:ayuda_estadias' %}" onclick="window.open('{% url 'administracion:ayuda_estadias' %}', 'newwindow', 'width=600, height=400'); return false;"><i class="fa fa-question-circle"></i></a></span>
    <div class="row">
             <a class="btn btn-success" href="{% url 'administracion:nuevo_estadia' %}">
                <i class="fa fa-plus-circle"></i> Nuevo
             </a>
    </div>

    {% if object_list %}
        <table class="table">
            <thead>
                <tr>
                    <th>Responsable</th>
                    <th>Alumno</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Fin</th>
                    {% if activateViewingButtons %}
                        <th></th>
                    {% endif %}
                    {% if activateEditingButtons %}
                        <th></th>
                        <th></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for estadia in object_list %}
                    <tr>
                        <td>{{ estadia.responsable}}</td>
                        <td>{{ estadia.alumno }}</td>
{#                        <td>#}
{#                            {% for destinatario in estadia.destinatarios.all %} {{ destinatario }}<br/>{% endfor %}#}
{#                        </td>#}
                        <td>{{ estadia.fecha_inicio }}</td>
                        <td>{{ estadia.fecha_fin }}</td>
                        {% if user.is_profesor %}
                            <td>
                                <a class="btn btn-default" href="{% url 'administracion:ver_estadia' estadia.id %}">
                                    <i class="fa fa-eye"></i> Ver
                                </a>
                            </td>
                        {% endif %}
                        {% if user.is_staff %}
                            <td>
                                <a class="btn btn-primary" href="{% url 'administracion:editar_estadia' estadia.id %}">
                                    <i class="fa fa-edit"></i> Editar
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-danger" href="{% url 'administracion:eliminar_estadia' estadia.id %}">
                                    <i class="fa fa-trash"></i> Eliminar
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay estadias que coincidan con el criterio de filtrado</p>
    {% endif %}
    </div>

{% endblock %}
