{% extends 'ayuda/base.html' %}
{% block title %}Crear estadías{% endblock %}
{% block content %}
<h4>Creacion de estadías</h4>
<p>
Al seleccionar la opción de crear estadías, se presentará el siguiente formulario:El formulario debe ser llenado con los valores correspondientes, teniendo en cuenta las siguientes consideraciones:
-Para ingresar el profesor debe comenzar a ingresar su nombre, donde inmediatamente se sugerirán las coincidencias y usted podrá seguir completando el nombre por teclado o seleccionarlo de la lista desplegada.
-Para ingresar el alumno debe comenzar a ingresar su nombre, donde inmediatamente se sugerirán las coincidencias y usted podrá seguir completando el nombre por teclado o seleccionarlo de la lista desplegada.
Una vez completado los valores del formulario debe hacer clic en el botón confirmar para que la nueva estadía sea generada en el sistema.
</p>
{% endblock %}