{% extends 'administracion/base.html' %}
{% block title %}Horarios de materias{% endblock %}
{% block content %}
    <form method="post" action="">
        {% csrf_token %}


<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <h3>Planilla de asistencia</h3>
        <h4>Fecha: {{ fecha|date:"d F, Y" }}</h4>
        <h4>Division: {{ division }}</h4>
        <table class="table">
            <thead>
                    <th style="text-align: right;">Alumno</th>
                    <th class="hidden">Horario</th>
                    <th class="hidden">Fecha</th>
                    <th>Asistio</th>
            </thead>
            <tbody>
                {% for alumno in alumno_list %}
                <tr>
                    <td style="text-align: right;">
                        {{alumno.alumno}}
                        {%  for form in alumno.formset %}
                            <span class="hidden">
                                {{ form.id }}
                            </span>
                        {% endfor %}
                    </td>
                    <td class="hidden">
                        {%  for form in alumno.formset %}
                            {{ form.horario_id }}
                        {% endfor %}
                    </td>
                    <td class="hidden">
                        {%  for form in alumno.formset %}
                            {{ form.fecha }}
                        {% endfor %}
                    </td>
                    <td>
                        {{ alumno.formset.management_form }}
                        {%  for form in alumno.formset %}
                            {{ form.asistio }}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
       <div class="pull-right">
            <a class="btn btn-default" href="{% url 'administracion:planes:horario_por_fecha' fecha.day fecha.month fecha.year %}">
                <i class="fa fa-arrow-circle-left"></i>  Volver
            </a>
            <button type="submit" class="btn btn-success">
                <i class="fa fa-check-circle"></i> Confirmar
            </button>
        </div>
    </div>
</div>




    </form>
{% endblock %}
