{% extends 'aula_virtual/base.html' %}
{% block title %}Solicitudes de Materiales{% endblock %}
{% block content %}
    <div class="col-md-offset-1 col-md-10">
        <h3 class="inline-title">Solicitudes de Materiales Pendientes</h3> <span class=""><a href="{% url 'aula_virtual:ayuda_solicitudes_materiales_pendientes' %}" onclick="window.open('{% url 'aula_virtual:ayuda_solicitudes_materiales_pendientes' %}', 'newwindow', 'width=600, height=400'); return false;"><i class="fa fa-question-circle"></i></a></span>
    <a class="btn btn-default" href="{% url 'aula_virtual:ver_solicitudes_admin' %}">
        <i class="fa fa-filter"></i> Ver todas las solicitudes
    </a>
    {% if object_list %}
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Descripción</th>
                    <th>Solicitante</th>
                    <th>Material</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for solicitud_material in object_list %}
                    <tr>
                        <td>{{ solicitud_material.id }}</td>
                        <td>{{ solicitud_material.descripcion }}</td>
                        <td>{{ solicitud_material.solicitante }}</td>
                        <td>{{ solicitud_material.material|default_if_none:"" }}</td>
                        <td>
                            <a class="btn btn-primary" href="{% url 'aula_virtual:responder_solicitud_material_admin' solicitud_material.id %}">
                                <i class="fa fa-eye"></i> Responder solicitud
                            </a>
{#                            <a class="btn btn-primary" href="{% url 'aula_virtual:responder_solicitud_material' solicitud_material.id %}">#}
{#                                <i class="fa fa-eye"></i> Responder solicitud#}
{#                            </a>#}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay solicitudes de material disponibles.</p>
    {% endif %}
    </div>

{% endblock %}
