{% extends 'utils/base.html' %}
{% block title %}Proyecto boneo{% endblock %}
{% block content %}
    <div class="container width-64x margin-top-5x">
        <div class="inline-group">
            <p>Aca tendriamos un calendario que muestre las materias semanales</p>
            {% for horario in horarios %}
                {{ horario.instancia_cursado }}
            {% endfor %}
         <h4>Proximos encuentros de tutorías</h4>
            <table class="table">
                <thead>
                <tr>
                    <th width="20%">Fecha</th>
                    <th width="30%">Profesor</th>
                    <th width="50%">Resumen</th>
                </tr>
                </thead>
                <tbody>
                {% for encuentro_tutoria in proximos_encuentros_tutorias %}
                <tr>
                    <td>{{ encuentro_tutoria.fecha }}</td>
                    <td>{{ encuentro_tutoria.tutoria.profesor }}</td>
                    <td>{{ encuentro_tutoria.resumen }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

{#            <a class="btn btn-lg btn-default width-30x" href="{% url 'aula_virtual:home_administracion' %}">#}
{#                <i class="fa fa-book"></i> Aula Virtual#}
{#            </a>#}
{#            <a class="btn btn-lg btn-default width-30x" href="{% url 'administracion:home' %}">#}
{#                <i class="fa fa-edit"></i> Administración#}
{#            </a>#}
        </div>
    </div>
{% endblock %}