{% extends 'utils/base.html' %}
{% block title %}Proyecto boneo{% endblock %}
{% block content %}
    <div class="container width-64x margin-top-20x">
        <div class="inline-group">
             <li><a href="{% url 'administracion:alumnos' %}">Alumnos</a></li>
                <li><a href="{% url 'administracion:responsables' %}">Responsables</a></li>
                <li><a href="{% url 'administracion:profesores' %}">Profesores</a></li>
                <li><a href="{% url 'administracion:divisiones' %}">Divisiones</a></li>
                <li><a href="{% url 'administracion:horario_hoy' %}">Asistencia</a></li>
                <li><a href="{% url 'administracion:materias' %}">Materias</a></li>
                <li><a href="{% url 'administracion:tutorias' %}">Tutorías</a></li>
                <li><a href="{% url 'administracion:estadias' %}">Estadías</a></li>
        </div>
    </div>
{% endblock %}
