{% extends 'utils/profesor_base.html' %}
{% block title %}Proyecto boneo{% endblock %}
{% block content %}
    <div class="container width-64x margin-top-20x">
        <div class="inline-group">
{#            <a class="btn btn-lg btn-default width-30x" href="{% url 'aula_virtual:home_administracion' %}">#}
{#                <i class="fa fa-book"></i> Aula Virtual#}
{#            </a>#}
{#            <a class="btn btn-lg btn-default width-30x" href="{% url 'administracion:home' %}">#}
{#                <i class="fa fa-edit"></i> Administración#}
{#            </a>#}
        </div>
    </div>
{% endblock %}