{% extends 'utils/base.html' %}
{% block title %}Proyecto boneo{% endblock %}
{% block content %}
    <script>
    $(document).ready(function() {
        $('#calendar').fullCalendar({
            defaultView: 'agendaWeek',
            businessHours:{
                start: '07:00', // a start time (10am in this example)
                end: '20:00', // an end time (6pm in this example)

                dow: [ 1, 2, 3, 4,5 ]
                // days of week. an array of zero-based day of week integers (0=Sunday)
                // (Monday-Thursday in this example)
            },
            aspectRatio: 2.5,
            eventSources: [
                // your event source
                {
                    events: [ // put the array in the `events` property
                        {% for horario in horarios %}
                            {
                                title  : '{{ horario.instancia_cursado }}',
                                start  : '{{ horario.hora_inicio }}',
                                end  : '{{ horario.hora_inicio }}',
                                dow: [ {{ horario.dia_semana }}, ] // Repeat monday and thursday
                            },
                        {% endfor %}
                    ]
                },
                {
                    events: [ // put the array in the `events` property
                        {% for encuentro_tutoria in encuentros_tutorias %}
                            {
                                title  : 'Encuentro Tutoría - {{ encuentro_tutoria.tutoria.alumno }}',
                                start  : '{{ encuentro_tutoria.fecha }}',
{#                                end  : '{{ horario.hora_inicio }}',#}
{#                                dow: [ {{ horario.dia_semana }}, ] // Repeat monday and thursday#}
                            },
                        {% endfor %}
                    ],
                    color: 'yellow',   // an option!
                    textColor: 'black' // an option!
                }
                // any other event sources...
            ]
        })
    });
    </script>
    <div class="fluid-container margin-top-2x">
        <div class="inline-group">
        <div class="col-md-8">
            <span class=""><a href="{% url 'ayuda_calendario' %}" onclick="window.open('{% url 'ayuda_calendario' %}', 'newwindow', 'width=600, height=400'); return false;"><i class="fa fa-question-circle"></i></a></span>
            <div id='calendar'></div>
        </div>
        <div class="col-md-4">
         <h4 class="inline-title">Proximos encuentros de tutorías</h4>  <span class=""><a href="{% url 'ayuda_proximos_encuentros_tutoria' %}" onclick="window.open('{% url 'ayuda_proximos_encuentros_tutoria' %}', 'newwindow', 'width=600, height=400'); return false;"><i class="fa fa-question-circle"></i></a></span>
            <table class="table">
                <thead>
                    <tr>
                        <th width="50%">Fecha</th>
                        <th width="30%">Alumno</th>
                    </tr>
                </thead>
                <tbody>
                {% for encuentro_tutoria in proximos_encuentros_tutorias %}
                <tr>
                    <td>{{ encuentro_tutoria.fecha }}</td>
                    <td>{{ encuentro_tutoria.tutoria.alumno }}</td>
                    <td>
                        <a class="btn btn-default" href="{% url 'administracion:ver_encuentrotutoria' encuentro_tutoria.id %}">
                            <i class="fa fa-eye"></i> Ver
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

{#            <a class="btn btn-lg btn-default width-30x" href="{% url 'aula_virtual:home_administracion' %}">#}
{#                <i class="fa fa-book"></i> Aula Virtual#}
{#            </a>#}
{#            <a class="btn btn-lg btn-default width-30x" href="{% url 'administracion:home' %}">#}
{#                <i class="fa fa-edit"></i> Administración#}
{#            </a>#}
        </div>
    </div>
{% endblock %}