{% extends 'administracion/base.html' %}
{% block title %}Alumnos{% endblock %}
{% block content %}
    <h3>Alumnos</h3>
    <form action="." method="get" class="margin-bottom-2x">
        <div class="form-group">
            {{ filter_form.nombre.label_tag }}
            {{ filter_form.nombre }}
        </div>
        <div class="form-group">
            {{ filter_form.apellido.label_tag }}
            {{ filter_form.apellido }}
        </div>
        <button type="submit" class="btn btn-default">
            <i class="fa fa-filter"></i> Filtrar
        </button>
        <a class="btn btn-success" href="{% url 'administracion:nuevo_alumno' %}">
            <i class="fa fa-plus-circle"></i>  Nuevo alumno
        </a>
    </form>

    {% if object_list %}
        <table class="table">
            <thead>
                <tr>
                    <th>Legajo</th>
                    <th>Apellido y Nombre</th>
                    <th>Domicilio</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for alumno in object_list %}
                    <tr>
                        <td>{{ alumno.legajo }}</td>
                        <td>{{ alumno.apellido }} {{ alumno.nombre }} </td>
                        <td>{{ alumno.domicilio }}</td>
                        <td>
                            <a class="btn btn-primary" href="{% url 'aula_virtual:estado_academico' alumno.id %}">
                                <i class="fa fa-archive"></i> Estado Académico
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-primary" href="{% url 'administracion:editar_alumno' alumno.id %}">
                                <i class="fa fa-edit"></i> Editar
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-danger" href="{% url 'administracion:eliminar_alumno' alumno.id %}">
                                <i class="fa fa-trash"></i> Eliminar
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay alumnos que coincidan con el criterio de filtrado</p>
    {% endif %}
{% endblock %}
