{% extends 'administracion/base.html' %}
{% block title %}Inscripciones{% endblock %}
{% load static %}
{% block scripts %}
    <script src="{% static 'alumnos/alumnos/alumnos_inscripciones.js' %}"></script>
    <script>
        $(function(){
            new InscripcionesController();
        })
    </script>
{% endblock %}
{% block content %}
    <h3>Inscripciones de división {{ division }}</h3>
    <form method="post" action=".">
        {% csrf_token %}
                {{ formset.management_form }}
        <table class="table">
            <thead>
                <tr>
                    <th>Inscripción</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for form in formset %}
                    <tr>
                        <td hidden="hidden">{{ form.pk }}{{ form.DELETE }}</td>
                        <td>{{ form.alumno }}</td>
                        <td>
                            <a id="remove-{{ form.prefix }}-row" href="#void" class="delete-row btn btn-danger {% if form.non_field_errors %}with_errors{% endif %}"
                               {% if form.non_field_errors %}title="{{ form.non_field_errors.0 }}"{% endif %}><i class="fa fa-minus-circle"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <button type="submit" class="btn btn-success">
            <i class="fa fa-check-circle"></i> Confirmar
        </button>
        <a class="btn btn-default" href="{% url 'administracion:alumnos' %}">
            <i class="fa fa-arrow-circle-left"></i>  Volver
        </a>
    </form>
{% endblock %}
