{% extends 'ayuda/base.html' %}
{% block title %}Eliminar alumno{% endblock %}
{% block content %}
<h4>Listado de alumnos</h4>
<p>Al ingresar al módulo de alumnos, se presenta un listado con los alumnos del sistema, y filtros por campo para facilitar la búsqueda de los alumnos.</p>
    <p>Desde esta pantalla se puede acceder a la pantalla de creación de nuevo alumno, haciendo clic en el botón de nuevo alumno, así como ir a las pantallas de edición o eliminación de un alumno determinado mediante los botones correspondientes presentes en el listado.</p>
{% endblock %}