{% extends 'administracion/base.html' %}
{% block title %}Inscripciones{% endblock %}
{% load static %}
{% block scripts %}
    <script src="{% static 'alumnos/alumnos/alumnos_inscripciones.js' %}"></script>
    <script>
        $(function(){
            new InscripcionesController();
        })
    </script>
        <script>
        $(document).ready(function(){
                $('#agregar').click(function() {
                    var form_idx = $('#id_form-TOTAL_FORMS').val();
                    $('#formset-container tbody').append($('#empty_form').html());
                    $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
                });

                $('#agregar-alumno').click(function() {
                  $('#mode-field').val('agregar');
                  $(this).parents('form').submit();
                });
                $('#confirmar').click(function() {
                  $('#mode-field').val('confirmar');
                  $(this).parents('form').submit();
                });
        });
    </script>
{% endblock %}
{% block content %}
    <h3 class="inline-title">Inscripciones de división {{ division }}</h3> <span class=""><a href="{% url 'administracion:ayuda_inscripciones_alumno' %}" onclick="window.open('{% url 'administracion:ayuda_inscripciones_alumno' %}', 'newwindow', 'width=600, height=400'); return false;"><i class="fa fa-question-circle"></i></a></span>
    <form method="post" action=".">
        {% csrf_token %}
                {{ formset.management_form }}
        <table class="table" id="formset-container">
            <thead>
                <tr>
                    <th>Inscripción</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for form in formset %}
                    <tr class="dynamic-form">
                    <td hidden="hidden">{{ form.DELETE }}</td>
                        <td>{{ form.alumno }}</td>
                        <td>

                            <a id="remove-form-row" href="#void" class="delete-row btn btn-danger  {% if form.non_field_errors %}with_errors{% endif %}"
                               {% if form.non_field_errors %}title="{{ form.non_field_errors.0 }}"{% endif %}><i class="fa fa-minus-circle"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

{#        <div style="display:none" >#}
{#        <table>#}
{#            <tbody id="empty_form" style="display:none" >#}
{#                <tr>#}
{#                <td style="display:none" hidden="hidden">{{ formset.empty_form.DELETE }}</td>#}
{#                <td>{{ formset.empty_form.alumno }}</td>#}
{#                <td>#}
{#                    <a id="remove-{{ form.prefix }}-row" href="#void" class="delete-row btn btn-danger {% if form.non_field_errors %}with_errors{% endif %}"#}
{#                       {% if form.non_field_errors %}title="{{ form.non_field_errors.0 }}"{% endif %}><i class="fa fa-minus-circle"></i>#}
{#                    </a>#}
{#                </td>#}
{#            </tr>#}
{#            </tbody>#}
{#        </table>#}
{##}
{#        </div>#}
        <input type="hidden" name='mode-field' id="mode-field" value="confirmar"/>
    <div class="row">
        <div class="col-xs-3">
            <button id='agregar-alumno' type="button" class="btn btn-success">
                <i class="fa fa-plus"></i> Agregar Alumno
            </button>
        </div>
        <div class="col-xs-offset-3 col-xs-3">
            <button id='confirmar' type="button" class="btn btn-success pull-right">
                <i class="fa fa-check-circle"></i> Confirmar
            </button>
        </div>
        <div class="col-xs-3">
            <a class="btn btn-default" href="{% url 'administracion:divisiones' %}">
                <i class="fa fa-arrow-circle-left"></i>  Volver
            </a>
        </div>
    </div>

    </form>
{% endblock %}
