{% extends 'administracion/base.html' %}
{% block title %}Alumnos{% endblock %}
{% block content %}
    <div class=""></div>
    <h3 class="inline-title">Alumnos</h3> <span class=""><a href="{% url 'administracion:alumnos:ayuda_alumnos' %}" onclick="window.open('{% url 'administracion:alumnos:ayuda_alumnos' %}', 'newwindow', 'width=600, height=400'); return false;"><i class="fa fa-question-circle"></i></a></span>
    <form action="." method="get" class="margin-bottom-2x">
        <div class="form-group">
            {{ filter_form.nombre.label_tag }}
            {{ filter_form.nombre }}
        </div>
        <div class="form-group">
            {{ filter_form.apellido.label_tag }}
            {{ filter_form.apellido }}
        </div>
        {{ filter_form.render_xls_report }}
        {{ filter_form.render_pdf_report }}
        <a class="btn btn-success" href="{% url 'administracion:alumnos:nuevo_alumno' %}">
            <i class="fa fa-plus-circle"></i>  Nuevo alumno
        </a>
        <button class="btn btn-default" type="submit" onclick="filterController.filter_click(this)">
            <i class="fa fa-filter"></i> Filtrar
        </button>

        <button class="btn btn-default" type="submit" onclick="filterController.filter_print(this)">
            <i class="fa fa-print"></i> Imprimir
        </button>

        <button class="btn btn-default" type="submit" onclick="filterController.filter_sheet(this)">
            <i class="fa fa-file-excel-o"></i> Planilla
        </button>
    </form>

    {% if object_list %}
        <table class="table">
            <thead>
                <tr>
                    <th>Legajo</th>
                    <th>Apellido y Nombre</th>
                    <th>Domicilio</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for alumno in object_list %}
                    <tr>
                        <td>{{ alumno.legajo }}</td>
                        <td>{{ alumno.apellido }} {{ alumno.nombre }} </td>
                        <td>{{ alumno.domicilio }}</td>
                        <td>
                            <a class="btn btn-primary" href="{% url 'aula_virtual:estado_academico' alumno.id %}">
                                <i class="fa fa-archive"></i> Estado Académico
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-primary" href="{% url 'administracion:alumnos:editar_alumno' alumno.id %}">
                                <i class="fa fa-edit"></i> Editar
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-danger" href="{% url 'administracion:alumnos:eliminar_alumno' alumno.id %}">
                                <i class="fa fa-trash"></i> Eliminar
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay alumnos que coincidan con el criterio de filtrado</p>
    {% endif %}
{% endblock %}
