{% extends 'administracion/base.html' %}
{% block title %}Horarios de materias{% endblock %}
{% block content %}
    <script>
        $(document).ready(function(){
            {% for dia_semana in dias_semana%}
                    $('#id_{{ dia_semana.dia_id }}-__prefix__-dia_semana').val("{{ dia_semana.dia_id }}").change();
                    //find the select with an id that matched the input name attr and the option within it with the same value.
                    $("select[id='id_{{ dia_semana.dia_id }}-__prefix__-dia_semana'] option[value='{{ dia_semana.dia_id }}']").attr('selected', 'selected');

                $('#agregar-{{ dia_semana.dia_id }}').click(function() {
                    var form_idx = $('#id_{{ dia_semana.dia_id }}-TOTAL_FORMS').val();

                    $('#formset-{{ dia_semana.dia_id }}').append($('#empty_form-{{ dia_semana.dia_id }}').html().replace(/__prefix__/g, form_idx));
                    $('#id_{{ dia_semana.dia_id }}-TOTAL_FORMS').val(parseInt(form_idx) + 1);
                });
            {% endfor %}
        });
    </script>
    <form method="post" action=".">
        {% csrf_token %}
        <h3>Horarios por materia</h3>
        <h4>División: {{ division }}</h4>
        <div>
            <button type="submit" class="btn btn-success">
                <i class="fa fa-check-circle"></i> Confirmar
            </button>
            <a class="btn btn-default" href="{% url 'administracion:divisiones' %}">
                <i class="fa fa-arrow-circle-left"></i>  Volver
            </a>
        </div>

        <table class="table">
            <thead>
                {% for dia_semana in dias_semana|slice:"0:3" %}
                    <th>{{ dia_semana.dia_descripcion }}</th>
                {% endfor %}
            </thead>
            <tbody>

                <tr>
                    {% for dia_semana in dias_semana|slice:"0:3" %}
                    <td>
                        {{ dia_semana.formset.management_form }}
                        <div id="formset-{{ dia_semana.dia_id }}">
                            {% for form in dia_semana.formset %}
                                <div class="form-group">
                                    {{ form.materia }}
                                </div>
                                <div class="form-group">
                                    {{ form.hora_inicio }}
                                </div>
                                <div class="form-group">
                                    {{ form.hora_fin }}
                                </div>
                                <div class="hidden form-group">
                                    {{ form.dia_semana }}
                                </div>
                                <div class="hidden form-group hidden">
                                    {{ form.id }}
                                </div>
                                <div class="form-group ">
                                    Eliminar Horario: {{ form.DELETE }}
                                </div>
                            {% endfor %}
                        </div>

                    <input type="button" class="btn btn-success" value="Agregar Horario" id="agregar-{{ dia_semana.dia_id }}">
                        <div id="empty_form-{{ dia_semana.dia_id }}" style="display:none">
                                <div class="form-group">
                                    {{ dia_semana.formset.empty_form.materia }}
                                </div>
                                <div class="form-group">
                                    {{ dia_semana.formset.empty_form.hora_inicio }}
                                </div>
                                <div class="form-group">
                                    {{ dia_semana.formset.empty_form.hora_fin }}
                                </div>
                                <div class="form-group hidden">
                                    {{ dia_semana.formset.empty_form.dia_semana }}
                                </div>
                                <div class="form-group hidden">
                                    {{ dia_semana.formset.empty_form.id }}
                                </div>
                                <div class="form-group ">
                                    Eliminar Horario: {{ dia_semana.formset.empty_form.DELETE }}
                                </div>
                    </div>
                    </td>
                    {% endfor %}

                </tr>
            </tbody>
        </table>
        <table class="table">
            <thead>
                {% for dia_semana in dias_semana|slice:"3:6" %}
                    <th>{{ dia_semana.dia_descripcion }}</th>
                {% endfor %}
            </thead>
            <tbody>

                <tr>
                    {% for dia_semana in dias_semana|slice:"3:6" %}
                    <td>
                        {{ dia_semana.formset.management_form }}
                        <div id="formset-{{ dia_semana.dia_id }}">
                            {% for form in dia_semana.formset %}
                                <div class="form-group">
                                    {{ form.materia }}
                                </div>
                                <div class="form-group">
                                    {{ form.hora_inicio }}
                                </div>
                                <div class="form-group">
                                    {{ form.hora_fin }}
                                </div>
                                <div class="hidden form-group hidden">
                                    {{ form.dia_semana }}
                                </div>
                                <div class="hidden form-group hidden">
                                    {{ form.id }}
                                </div>
                                <div class="form-group ">
                                    Eliminar Horario: {{ form.DELETE }}
                                </div>
                            {% endfor %}
                        </div>

                    <input type="button" class="btn btn-success" value="Agregar Horario" id="agregar-{{ dia_semana.dia_id }}">
                    <div id="empty_form-{{ dia_semana.dia_id }}" style="display:none">
                                <div class="form-group">
                                    {{ dia_semana.formset.empty_form.materia }}
                                </div>
                                <div class="form-group">
                                    {{ dia_semana.formset.empty_form.hora_inicio }}
                                </div>
                                <div class="form-group">
                                    {{ dia_semana.formset.empty_form.hora_fin }}
                                </div>
                                <div class="form-group hidden">
                                    {{ dia_semana.formset.empty_form.dia_semana }}
                                </div>
                                <div class="form-group hidden">
                                    {{ dia_semana.formset.empty_form.id }}
                                </div>
                                <div class="form-group ">
                                    Eliminar Horario: {{ dia_semana.formset.empty_form.DELETE }}
                                </div>
                    </div>
                    </td>
                    {% endfor %}

                </tr>
            </tbody>
        </table>
    </form>
{% endblock %}
