{% extends 'administracion/base.html' %}
{% block title %}Tutoria{% endblock %}
{% block content %}
    <h3>Tutoria</h3>

    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.anio.label_tag }}
            {{ form.anio }}
            {{ form.anio.errors }}
        </div>
        <div class="form-group">
            {{ form.profesor.label_tag }}
            {{ form.profesor }}
            {{ form.profesor.errors }}
        </div>
        <div class="form-group">
            {{ form.alumno.label_tag }}
            {{ form.alumno }}
            {{ form.alumno.errors }}
        </div>

        <button type="submit" class="btn btn-success">
            <i class="fa fa-check-circle"></i> Confirmar
        </button>
        <a class="btn btn-default" href="{% url 'administracion:tutorias' %}">
            <i class="fa fa-arrow-circle-left"></i>  Volver
        </a>
    </form>
{% endblock %}
