{% extends 'administracion/base.html' %}
{% block title %}Tutorias{% endblock %}
{% block content %}
    <div class="col-md-offset-1 col-md-10">
    <h3 class="inline-title">Tutorías</h3>  <span class=""><a href="{% url 'administracion:tutorias:ayuda_tutorias' %}" onclick="window.open('{% url 'administracion:tutorias:ayuda_tutorias' %}', 'newwindow', 'width=600, height=400'); return false;"><i class="fa fa-question-circle"></i></a></span>
    {% if user.is_staff %}
    <div>
         <a class="btn btn-success" href="{% url 'administracion:tutorias:nuevo_tutoria' %}">
            <i class="fa fa-plus-circle"></i> Nuevo
         </a>
    </div>
    {% endif %}

    {% if object_list %}
        <table class="table">
            <thead>
                <tr>
                    <th>Año</th>
                    <th>Profesor</th>
                    <th>Alumno</th>
                    {% if activateViewingButtons %}
                        <th></th>
                    {% endif %}
                    {% if activateEditingButtons %}
                        <th></th>
                        <th></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for tutoria in object_list %}
                    <tr>
                        <td>{{ tutoria.anio}}</td>
                        <td>{{ tutoria.profesor }}</td>
{#                        <td>#}
{#                            {% for destinatario in tutoria.destinatarios.all %} {{ destinatario }}<br/>{% endfor %}#}
{#                        </td>#}
                        <td>{{ tutoria.alumno }}</td>
                        {% if user.is_profesor or user.is_alumno %}
                            <td>
                                <a class="btn btn-default" href="{% url 'administracion:tutorias:ver_tutoria' tutoria.id %}">
                                    <i class="fa fa-eye"></i> Ver
                                </a>
                            </td>
                        {% endif %}
                        {% if user.is_staff %}
                            <td>
                                <a class="btn btn-primary" href="{% url 'administracion:tutorias:editar_tutoria' tutoria.id %}">
                                    <i class="fa fa-edit"></i> Editar
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-danger" href="{% url 'administracion:tutorias:eliminar_tutoria' tutoria.id %}">
                                    <i class="fa fa-trash"></i> Eliminar
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay tutorias que coincidan con el criterio de filtrado</p>
    {% endif %}
    </div>

{% endblock %}
