{% extends 'ayuda/base.html' %}
{% block title %}Listar tutorías{% endblock %}
{% block content %}
<h4>Listado de tutorías</h4>

{% if user.is_staff %}
    <p>Al ingresar al módulo de tutorías, se presenta un listado con los tutorías del sistema, y filtros por campo para facilitar la búsqueda de los tutorías.</p>
    <p>Desde esta pantalla se puede acceder a la pantalla de creación de nuevo tutoría, haciendo clic en el botón de nuevo tutoría, así como ir a las pantallas de edición o eliminación de un tutoría determinado mediante los botones correspondientes presentes en el listado.</p>
{% endif %}
{% if user.is_profesor %}
    <p>Al ingresar al módulo de tutorías, se presenta un listado con las tutorías que usted tiene o ha tenido a cargo en el curso de su historia académica, como se ve en la siguiente pantalla.</p>
    <p>Desde esta pantalla se puede acceder a la pantalla de visualización de cada tutoría, haciendo clic en el botón de ver tutoría, mediante los botones correspondientes presentes en el listado.</p>
{% endif %}
{% if user.is_alumno %}
    <p>Al ingresar al módulo de tutorías, se presenta un listado con las tutorías que usted tiene o ha tenido asignadas en el curso de su historia académica, como se ve en la siguiente pantalla.</p>
    <p>Desde esta pantalla se puede acceder a la pantalla de visualización de cada tutoría, haciendo clic en el botón de ver tutoría, mediante los botones correspondientes presentes en el listado.</p>
{% endif %}
{% endblock %}