{% extends 'ayuda/base.html' %}
{% block title %}Eliminar tutoría{% endblock %}
{% block content %}
<h4>Listado de tutorías</h4>
<p>Al ingresar al módulo de tutorías, se presenta un listado con los tutorías del sistema, y filtros por campo para facilitar la búsqueda de los tutorías.</p>
<p>Desde esta pantalla se puede acceder a la pantalla de creación de nuevo tutoría, haciendo clic en el botón de nuevo tutoría, así como ir a las pantallas de edición o eliminación de un tutoría determinado mediante los botones correspondientes presentes en el listado.</p>
{% endblock %}