{% extends 'ayuda/base.html' %}
{% block title %}Listado profesor{% endblock %}
{% block content %}
<h4>Listado de profesor</h4>
<p>
Al ingresar al módulo de profesores, se presenta un listado con los profesores del sistema, y filtros por campo para facilitar la búsqueda de los profesores, como se ve en la siguiente pantalla. Desde esta pantalla se puede acceder a la pantalla de creación de nuevo profesor, haciendo clic en el botón de nuevo profesor, así como ir a las pantallas de edición o eliminación de un profesor determinado mediante los botones correspondientes presentes en el listado.
</p>
{% endblock %}