{% extends 'administracion/base.html' %}
{% block title %}Eliminar profesor{% endblock %}
{% block content %}
    <h3 class="inline-title">Eliminar profesor</h3>  <span class=""><a href="{% url 'administracion:personal:ayuda_eliminar_profesor' %}" onclick="window.open('{% url 'administracion:personal:ayuda_eliminar_profesor' %}', 'newwindow', 'width=600, height=400'); return false;"><i class="fa fa-question-circle"></i></a></span>
    <form method="post" action="">
        {% csrf_token %}
        <p>¿Desea eliminar el profesor "{{ object }}"?</p>
        <input class="button" type="submit" value="Confirmar">
        <a href="{% url 'administracion:personal:profesores' %}"><input class="button" type="button" value="Volver"></a>
    </form>
{% endblock %}
