{% extends 'ayuda/base.html' %}
{% block title %}Eliminar profesor{% endblock %}
{% block content %}
<h4>Eliminado de profesor</h4>
<p>
Al seleccionar la opción de eliminar profesores, se presentará la siguiente solicitud de confirmación. Si confirma la eliminación, se verificará que el profesor no esté afectado por operaciones en el sistema, y si es así el sistema procederá a eliminarlo definitivamente del sistema. En el caso que esté relacionado a operaciones existentes, indicará la situación y cancelará el proceso de eliminación.
</p>
{% endblock %}