{% extends 'utils/base.html' %}
{% load i18n %}
{% block title %}Password Reset{% endblock %}
{% block content %}
    <div class="container width-40x">
    <form action="." method="post">
        {% csrf_token %}
        <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
        <div class="form-group">
            <label for="id_old_password">Contraseña actual</label>
            <input type="password" class="form-control" name="old_password" id="id_old_password"/>
            {{ form.old_password.errors }}
        </div>
        <div class="form-group">
            <label for="id_new_password1">Nueva contraseña</label>
            <input type="password" class="form-control" name="new_password1" id="id_new_password1"/>
            {{ form.new_password1.errors }}
        </div>
        <div class="form-group">
            <label for="id_new_password2">Repetir nueva contraseña</label>
            <input type="password" class="form-control" name="new_password2" id="id_new_password2"/>
            {{ form.new_password2.errors }}
        </div>
        <input type="submit" value="Confirmar" class="btn btn-default" />
        </form>
    </div>
{% endblock %}
