{% extends 'utils/base.html' %}
{% block title %}Password Reset{% endblock %}

{% block content %}
     <div class="container width-40x">
    <form action="." method="post">
        {% csrf_token %}
        <p>Ingrese su contraseña actual y luego la contraseña nueva dos veces.</p>
        <div class="form-group">
            <label for="id_old_password">Contraseña actual</label>
            <input type="password" class="form-control" name="old_password" id="id_old_password"/>
            {{ form.old_password.errors }}
        </div>
        <div class="form-group">
            <label for="id_new_password1">Nueva contraseña</label>
            <input type="password" class="form-control" name="new_password1" id="id_new_password1"/>
            {{ form.new_password1.errors }}
        </div>
        <div class="form-group">
            <label for="id_new_password2">Repetir nueva contraseña</label>
            <input type="password" class="form-control" name="new_password2" id="id_new_password2"/>
            {{ form.new_password2.errors }}
        </div>
        <a class="btn btn-default" href="{% url 'administracion:usuarios:mi_perfil' %}">
            <i class="fa fa-arrow-circle-left"></i>  Volver
        </a>
        <input type="submit" value="Confirmar" class="btn btn-success" />
        </form>
    </div>
{% endblock %}
