{% extends 'ayuda/base.html' %}
{% block title %}Listado de materias{% endblock %}
{% block content %}
<h4>Listado de materias</h4>
<p>
Al ingresar al módulo de materias, se presenta un listado con los materias del sistema, y filtros por campo para facilitar la búsqueda de los materias.
Desde esta pantalla se puede acceder a la pantalla de creación de nuevo materia, haciendo clic en el botón de nuevo materia, así como ir a las pantallas de edición o eliminación de un materia determinado mediante los botones correspondientes presentes en el listado.
</p>
{% endblock %}