{% extends 'administracion/base.html' %}
{% block title %}Materias{% endblock %}
{% block content %}
    <div class="col-md-offset-1 col-md-10">
        <h3 class="inline-title">Materias</h3> <span class=""><a href="{% url 'administracion:ayuda_materias' %}" onclick="window.open('{% url 'administracion:ayuda_materias' %}', 'newwindow', 'width=600, height=400'); return false;"><i class="fa fa-question-circle"></i></a></span>
        <form action="." method="get" class="margin-bottom-2x">
            <div class="form-group">
                {{ filter_form.descripcion.label_tag }}
                {{ filter_form.descripcion }}
            </div>
            {{ filter_form.render_xls_report }}
            {{ filter_form.render_pdf_report }}
            <a class="btn btn-success" href="{% url 'administracion:nueva_materia' %}">
                <i class="fa fa-plus-circle"></i>  Nueva materia
            </a>
            <button class="btn btn-default" type="submit" onclick="filterController.filter_click(this)">
                <i class="fa fa-filter"></i> Filtrar
            </button>

            <button class="btn btn-default" type="submit" onclick="filterController.filter_print(this)">
                <i class="fa fa-print"></i> Imprimir
            </button>

            <button class="btn btn-default" type="submit" onclick="filterController.filter_sheet(this)">
                <i class="fa fa-file-excel-o"></i> Planilla
            </button>
        </form>
        {% if object_list %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Desripción</th>
                        <th>Año</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for materia in object_list %}
                        <tr>
                            <td>{{ materia.id }}</td>
                            <td>{{ materia.descripcion }}</td>
                            <td>{{ materia.anio }}</td>
                            <td>
                                <a class="btn btn-primary" href="{% url 'administracion:editar_materia' materia.id %}">
                                    <i class="fa fa-edit"></i> Editar
                                </a>
                            </td>
                            <td><a class="btn btn-danger" href="{% url 'administracion:eliminar_materia' materia.id %}">
                                    <i class="fa fa-trash"></i> Eliminar
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No hay materias ingresados en el sistema</p>
        {% endif %}
    </div>

{% endblock %}
