{% extends 'administracion/base.html' %}
{% block title %}Materia{% endblock %}
{% block content %}
    <h3 class="inline-title">Materia</h3> <span class=""><a href="{% url 'administracion:planes:ayuda_nuevo_materia' %}" onclick="window.open('{% url 'administracion:planes:ayuda_nuevo_materia' %}', 'newwindow', 'width=600, height=400'); return false;"><i class="fa fa-question-circle"></i></a></span>
    <form method="post" action=".">
        {% csrf_token %}
        <div class="form-group">
            {{ form.descripcion.label_tag }}
            {{ form.descripcion }}
            {{ form.descripcion.errors }}
        </div>

       <div class="form-group">
            {{ form.anio.label_tag }}
            {{ form.anio }}
            {{ form.anio.errors }}
        </div>
        <button type="submit" class="btn btn-success">
            <i class="fa fa-check-circle"></i> Confirmar
        </button>
        <a class="btn btn-default" href="{% url 'administracion:planes:materias' %}">
            <i class="fa fa-arrow-circle-left"></i>  Volver
        </a>
    </form>
{% endblock %}
