{% extends 'aula_virtual/base.html' %}
{% block title %}Materiales{% endblock %}
{% block content %}
    <div class="col-md-offset-1 col-md-10">
        <h3 class="inline-title">Materiales</h3> <span class=""><a href="{% url 'aula_virtual:ayuda_materiales' %}" onclick="window.open('{% url 'aula_virtual:ayuda_materiales' %}', 'newwindow', 'width=600, height=400'); return false;"><i class="fa fa-question-circle"></i></a></span>
        {% if filter_form %}
        <form action="../" method="get" class="margin-bottom-2x">
            <div class="form-group">
                        {{ filter_form.descripcion.label_tag }}
                        {{ filter_form.descripcion }}
            </div>
            <button type="submit" class="btn btn-default">
                <i class="fa fa-filter"></i> Filtrar
            </button>
            <a class="btn btn-success" href="{% url 'aula_virtual:nuevo_material' %}">
                <i class="fa fa-plus-circle"></i>  Nuevo material
            </a>
        </form>
        {% endif %}

        {% if object_list %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Descripción</th>
                        <th>Archivo</th>
                        <th>Publicado</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for material in object_list %}
                        <tr>
                            <td>{{ material.id }}</td>
                            <td>{{ material.descripcion }}</td>
                            <td>{{ material.nombre_archivo }}</td>
                            <td>{% if material.publicado %} <i class="fa fa-check text-success"> {% else %} <i class="fa fa-times text-danger"> {% endif %}</td>
                            <td>
                                <a class="btn btn-default" href="{% url 'aula_virtual:ver_material' material.id %}">
                                    <i class="fa fa-eye"></i> Ver
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-default" href="{{ material.archivo.url }}" download="{{ material.descripcion }}">
                                    <i class="fa fa-download"></i> Descargar
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-primary" href="{% url 'aula_virtual:editar_material' material.id %}">
                                    <i class="fa fa-edit"></i> Editar
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-danger" href="{% url 'aula_virtual:eliminar_material' material.id %}">
                                    <i class="fa fa-trash"></i> Eliminar
                                </a>
                            </td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No hay materiales que coincidan con el criterio de filtrado</p>
        {% endif %}
    </div>

{% endblock %}
