{% extends 'aula_virtual/base.html' %}
{% block title %}Material{% endblock %}
{% block content %}
    <div class="col-md-offset-2 col-md-8">
        <h3>Material</h3>
        <form method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.descripcion.label_tag }}
            {{ form.descripcion }}
            {{ form.descripcion.errors }}
        </div>
        <div class="form-group">
            {{ form.observaciones.label_tag }}
            {{ form.observaciones }}
            {{ form.observaciones.errors }}
        </div>
        <div class="form-group">
            {{ form.materia.label_tag }}
            {{ form.materia }}
            {{ form.materia.errors }}
        </div>
        <div class="form-group">
            {{ form.archivo.label_tag }}
            {{ form.archivo }}
            {{ form.archivo.errors }}
        </div>

        <button type="submit" class="btn btn-success">
            <i class="fa fa-check-circle"></i> Confirmar
        </button>
        <a class="btn btn-default" href="{% url 'aula_virtual:materiales_admin' %}">
            <i class="fa fa-arrow-circle-left"></i>  Volver
        </a>
    </form>
    </div>
{% endblock %}
