{% load staticfiles %}
<link rel="stylesheet" href="{% static 'libraries/twitter-bootstrap/css/bootstrap.min.css' %}"/>
<link rel="stylesheet" href="{% static 'libraries/datepicker/css/datepicker.css' %}"/>
<link rel="stylesheet" href="{% static 'libraries/twitter-typeahead/typeahead.css' %}"/>
<link rel="stylesheet" href="{% static 'libraries/font-awesome/css/font-awesome.min.css' %}"/>
<link rel="stylesheet" href="{% static 'libraries/lou-multi-select-cf6d6c6/css/multi-select.css' %}"/>
<link rel='stylesheet' href='{% static 'libraries/fullcalendar-2.7.1/fullcalendar.css' %}' />
