{% load staticfiles %}

<script src="{% static 'libraries/jquery/jquery-2.1.1.min.js' %}"></script>
<script src="{% static 'libraries/jquery/jquery.watch.js' %}"></script>
<script src="{% static 'libraries/jquery/jquery.cookie.js' %}"></script>
<script src="{% static 'libraries/twitter-bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'libraries/datepicker/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'libraries/twitter-typeahead/typeahead.bundle.js' %}"></script>

<script src="{% static 'js/utils/dynamic-formsets.js' %}"></script>
<script src="{% static 'js/utils/dynamic-linked-formsets.js' %}"></script>
<script src="{% static 'js/utils/util.js' %}"></script>
<script src="{% static 'js/utils/django-csrf.js' %}"></script>
<script src="{% static 'typeahead/js/typeahead_controller.js' %}"></script>
