{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{%  block title %}Proyecto Boneo{%  endblock %}</title>

    {% include 'utils/common_styles.html' %}

    {% include 'utils/common_scripts.html' %}

    <link rel="stylesheet" href="{% static 'css/administracion/base.css' %}">

    {% block styles %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}

    <script>
        $(function() {
            getMainController().configure_controls();
        });
    </script>
</head>
<body>
    <div class="page-header">
        <span class="page-header-title"><i class="fa fa-edit fa-2x valign-middle"></i> Proyecto Boneo </span>
        {% block navbar %}
            <nav class="page-navbar">
                <ul>
                    <li><a href="{% url 'aula_virtual:materiales_admin' %}">Biblioteca</a></li>
                </ul>
            </nav>
        {% endblock %}
    </div>

    <div id="content" class="container">

        <div {% if materia_dict %}id="wrapper"{% endif %}>

            {% block sidebar %}
                 <!-- Sidebar -->
                {% if materia_dict %}
                <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="{% url 'aula_virtual:biblioteca_home' %}">
                            Biblioteca
                        </a>
                    </li>

                {% for key, value_list  in materia_dict.items %}
                    <p>Ano: {{ key }}</p>
                {% for materia in value_list %}
                    <li>
                        <a href="{% url 'aula_virtual:materiales_by_materia' materia.id %}">{{ materia.descripcion }}</a>
                    </li>
                {% endfor %}
                {% endfor %}

                </ul>
                </div>
                {% endif %}
                <!-- /#sidebar-wrapper -->
            {% endblock %}
            {% if materia_dict %}
                <div id="page-content-wrapper">
            {% endif %}
                    {% block content %}
                    {%  endblock %}
            {% if materia_dict %}
                </div>
            {% endif %}
        </div>
        {% include 'typeahead/add_model_modal.html' %}
    </div>
</body>
</html>
