{% extends 'administracion/base.html' %}
{% block title %}Configurar profesores de materias{% endblock %}
{% block content %}
    <form method="post" action=".">
        {% csrf_token %}
        <h3>Profesores por materia</h3>
        <h4>División: {{ division }}</h4>
        <div>
            <button type="submit" class="btn btn-success">
                <i class="fa fa-check-circle"></i> Confirmar
            </button>
            <a class="btn btn-default" href="{% url 'administracion:divisiones' %}">
                <i class="fa fa-arrow-circle-left"></i>  Volver
            </a>
        </div>

        <table class="table">
            <thead>
                    <th>Materia</th>
                    <th>Profesor Titular</th>
            </thead>
            <tbody>
                    {{ formset.management_form }}
                    {% for form in formset %}
                <tr>
                    <td>
                        {{ form.id }}
                            {{ form.instance.materia }}
                    </td>
                    <td>
                            {{ form.profesor_titular }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
{% endblock %}
