{% extends 'ayuda/base.html' %}
{% block title %}Listar encuentro de tutoría{% endblock %}
{% block content %}
<h4>Listado de encuentros de tutorías</h4>
<p>Al ingresar al módulo de encuentros de tutoría, se presenta un listado con los encuentros del sistema, y filtros por campo para facilitar la búsqueda de los encuentros.</p>
    <p>Desde esta pantalla se puede acceder a la pantalla de creación de nuevo encuentro, haciendo clic en el botón de nuevo encuentro, así como ir a las pantallas de edición o eliminación de un encuentro determinado mediante los botones correspondientes presentes en el listado.</p>
{% endblock %}