{% extends 'aula_virtual/base.html' %}
{% block title %}Proyecto boneo{% endblock %}
{% block content %}
<div class="container width-64x margin-top-20x">
    <div class="inline-group">
        {% if user.is_alumno %}
            <a class="btn btn-lg btn-default width-30x" href="{% url 'aula_virtual:biblioteca_home' %}">
                <i class="fa fa-book"></i> Biblioteca
            </a>
        {% endif %}
        {% if user.is_profesor or user.is_staff %}
            <a class="btn btn-lg btn-default width-30x" href="{% url 'aula_virtual:materiales_admin' %}">
                <i class="fa fa-book"></i> Biblioteca
            </a>
        {% endif %}
            <a class="btn btn-lg btn-default width-30x" href="{% url 'aula_virtual:clases_virtuales' %}">
                <i class="fa fa-edit"></i> Clases Virtuales
            </a>
    </div>
</div>
{% endblock %}